---
layout: default
title: Home
---

<img src="{{site.github_url}}/assets/img/BB_BlueTech.jpg" style="width: 50%">

<h2 id="about">Bio</h2>

<div style="padding-top: 5px; padding-bottom: 5px; width: 90%; font-family: Cardo; margin-left: auto; margin-right:
auto; line-height: 1.8em;  text-align: justify; text-justify: inter-word;">

Molecular biologist, bioinformatics scientist, and startup co-founder with 10+ years of experience in NGS data analysis, machine learning, and environmental genomics. 

Co-founder and CSO of Wild Genomics <a href="https://wildgenomics.co/">Wild Genomics</a>, Adjunct Professor of Applied Data Science and AI at the University of San Diego, bioinformatics scientist at Thermo Fisher Scientific. 

Proven Leadership in building cross-disciplinary teams, deploying AI-powered genomic tools, and executing federally funded and commercial projects. Recognized by the U.S. Congress and
UC San Diego for innovation in applied biotechnology and climate solutions. Won Sustainability Merit Award at Hong Kong Techathon+ 2025. 

<h2 id="curriculum vitae">Curriculum Vitae</h2>

<p><a href="/assets/CV-BB-Jul-25.pdf"><strong>Download PDF</strong></a></p>

